@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
html,
body {
  height: 100vh;
  color: rgb(51, 51, 51);
  background: #fcfcfc;
}
.title {
  font-family: "Pacifico", cursive;
  font-size: 50px;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  color: rgb(70, 70, 70);
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
  margin: 0.5em 0;
  transition: all 0.2s ease;
}
.todo-item:hover {
  color: white;
  background: rgb(48, 48, 48);
  transition: all 0.2s ease;
}
.todo-item .delete {
  z-index: 1;
}
.todo-item .delete:hover {
  color: rgb(180, 0, 0);
  transition: all 0.2s ease;
}
.todo-item.done {
  background: rgb(192, 192, 192);
  text-decoration: line-through;
}
ul {
  list-style-type: none;
  margin: 0.5em 0;
  padding: 0;
}
#count {
  text-align: center;
  color: gray;
  font-size: 0.9em;
}
.card-footer {
  text-align: center;
  color: gray;
  font-size: 0.8em;
}
.card-footer a {
  text-decoration: none;
  transition: 0.2s all ease;
}
.form-check-label {
  font-size: 0.9em;
}
